{% extends 'animes/_base.html' %}
{% block title %}Inicio{% endblock %}
{% block style %}<style>
    ul {
        overflow-x: auto;
        max-width: 100%;
    }

    ul::-webkit-scrollbar {
        height: 4px;
    }

    ul::-webkit-scrollbar-thumb {
        background-color:#00A3FF ;
        border-radius: 50px;

    }

    ul::-webkit-scrollbar-track {
        background-color: #151B26;
        border-radius: 50px;
    }
</style>
{% endblock %}
{% block content %}
<section class="flex justify-center gap-12 h-96">
    {% if anime.imagem_capa %}
    <img src="{{ anime.imagem_capa }}" alt="{{ anime.nome }}" class="rounded h-full w-64 object-cover">
    {% else %}
    <div class="w-64 h-full bg-red-500 rounded"></div>
    {% endif %}

        <ul class="flex flex-col w-full h-full gap-4">
            <li>
                <b class="text-lg font-medium text-white">Duração: </b> <span class="font-normal text-base text-slate-400 ">{{anime.duracao}}Min.</span>
            </li>
             <li>
                 <b class="text-lg font-medium text-white">Estúdio: </b> <span class="font-normal text-base text-slate-400 ">{{anime.estudio}}</span>
            </li>
            <li>
                <b class="text-lg font-medium text-white">Genêro: </b> <span class="font-normal text-base text-slate-400 ">{{anime.genero}}</span>
            </li>
            <li class="mt-5">
                <b class="text-lg font-medium text-white">Descrição: </b> <span class="font-normal text-base text-slate-400 ">{{anime.descricao}}</span>
            </li>
        </ul>


</section>
{% endblock %}
ck %}