{% extends 'animes/_base.html' %}
{% block title %}{{ cap.anime }} - {{ cap.titulo }}{% endblock %}

{% block content %}
<div class="flex gap-6">
<section class="flex flex-col justify-center pb-6 gap-12 h-2/6 w-3/4">
    <div class="flex flex-col gap-8 ">
      {% if cap %}
        <div class="flex gap-6 items-center justify-start">
             <h1 class="text-white font-base text-2xl"><b><a href="{%url 'anime' anime_slug=cap.anime.slug%}" class="hover:text-blue-500">{{ cap.anime }}</a> - {{ cap.titulo }}</b></h1>

             {% if user.is_staff %}
    <a href="{% url 'episodio_Editar' anime_slug=cap.anime.slug episodio_slug=cap.slug %}" class=" flex items-center justify-center gap-1 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
</svg>Editar</a>
{% endif %}

        </div>
   {% else %}
    <p class="text-white">Episódio não encontrado.</p>
{% endif %}

{% if cap.url_thumb %}
    <img src="{{ cap.url_thumb }}" alt="{{ anime.nome }}" class="w-full h-full object-cover">
    {% else %}

<img class="h-2/6 w-3/4" src="https://flowbite.com/docs/images/examples/image-1@2x.jpg" alt="image description">

    {% endif %}
    </div>
    <div class="flex gap-4 h-12 items-center justify-around">
{% if cap_posterior %}
<a href="{% if cap_anterior and cap.slug != 'episodio-1' %}{% url 'episodio' anime_slug=anime.slug episodio_slug=cap_anterior.slug %}{% else %}{% url 'episodio' anime_slug=anime.slug episodio_slug='episodio-1' %}{% endif %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Cap. Anterior</a>
{% else %}
        <p class="text-white">Não há episódio anterior disponível.</p>
    {% endif %}
       <select id="countries" class="w-max h-12 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        {% for i in all_caps %}
            <option {% if cap and i.titulo == cap.titulo %}selected{% endif %}>{{ i.titulo }}</option>
            {%empty%}
            <p>Sem Capitulos</p>
        {% endfor %}
    </select>

    {% if cap_posterior %}
        <a href="{% url 'episodio' anime_slug=anime.slug episodio_slug=cap_posterior.slug %}" class="w-max text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Cap. Posterior</a>
    {% else %}
        <p class="text-white">Não há episódio posterior disponível.</p>
    {% endif %}

</section>

{% include 'animes/animesMaisVizualizados.html' %}
</div>
{% endblock %}
