{% extends 'animes/_base.html' %}
{% block title %}Topic Form{% endblock %}
{% block style %}<style>
label {
        /* Adicione seus estilos específicos aqui */
        display: block;
        margin-bottom: 2px;
        font-size: 0.875rem; /* Equivalente a text-sm em Tailwind */
        font-weight: 500; /* Equivalente a font-medium em Tailwind */
        color: #fff; /* Equivalente a text-gray-900 em Tailwind */
    }
    .errorlist{
    display: none;
    }
</style>{% endblock %}
{% block content %}
<div class="max-w-fit bg-white justify-center  flex rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">

              <h1 class=" text-center text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                  {{nome}}
              </h1>
<form class="max-w-md mx-auto flex flex-col justify-center items-start" action="" method="post">
    {% include 'animes/alerts.html' %}

    {% csrf_token %}
    {{ form.as_div }}

  <button type="submit" class="self-center mt-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Enviar</button>
</form>
          </div>
      </div>


{% endblock %}
