{% extends 'animes/_base.html' %}
{% block title %}Inicio{% endblock %}
{% block style %}
<style>
    ul {
        overflow-x: auto;
        max-width: 100%;
    }

    ul::-webkit-scrollbar {
        height: 4px;
    }

    ul::-webkit-scrollbar-thumb {
        background-color:#00A3FF ;
        border-radius: 50px;

    }

    ul::-webkit-scrollbar-track {
        background-color: #151B26;
        border-radius: 50px;
    }
</style>
{% endblock %}
{% block content %}
    <section class="flex flex-col justify-center gap-6">
    {% include 'animes/alerts.html' %}
         <ul class="relative flex items-start pb-5 mb-6 pt-2 gap-2 flex-col overflow-x-auto max-w-full">
             {%for gen in generos%}
              <li class="flex gap-1 items-center justify-center">
                  <a href="{%url 'genero' genero=gen.name%}" class="font-normal hover:text-blue-500 text-base  dark:text-white">{{gen.name_apresentacao}}</a>
                   {% if user.is_staff %}
    <a href="{%url 'genero_editar' genero_name=gen.name%}" class=" flex items-center justify-center gap-1 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
</svg>Editar</a>
{% endif %}
               
              </li>

            {% endfor %}

        </ul>


</section>
{% endblock %}