{% extends 'animes/_base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}

<section>
    <h1 class="text-2xl font-normal text-white">Últimas novidades</h1>
    <p class="font-normal text-slate-400">O que você vai assistir hoje?</p>
    <div id="default-carousel" class="relative w-full" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative h-56 overflow-hidden rounded-lg bg-red-400 md:h-96">
            <div class="flex flex-col  pl-6 gap-6 pb-6 justify-end w-full h-full">
                <h1 class=" text-3xl font-medium text-white w-3/5 break-words">ONE PUNCH MAN TERÁ 3 TEMPORADA</h1>
                <div class="flex flex-col  pl-6 pb-6 justify-end w-full h-full">
                    <h1 class="pb-4 text-3xl font-medium text-white w-3/5 break-words">ONE PUNCH MAN TERÁ 3
                        TEMPORADA</h1>
                    <p class="font-normal text-sm text-slate-400 w-2/5 break-words">Como relatado anteriormente, a
                        franquia baseada no mangá escrito por ONE e ilustrado por Yusuke Murata, One Punch Man, divulgou
                        um comunicado confirmando a produção de uma terceira temporada da adaptação para o anime […]</p>
                </div>

                <!-- Item 1 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/docs/images/carousel/carousel-1.svg"
                         class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <!-- Item 2 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/docs/images/carousel/carousel-2.svg"
                         class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>

            </div>
            <!-- Slider indicators -->
            <div class="absolute z-10 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1"
                        data-carousel-slide-to="0"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
                        data-carousel-slide-to="1"></button>

            </div>
            <!-- Slider controls -->
            <button type="button"
                    class="absolute top-0 start-0 z-10 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                    data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
            </button>
            <button type="button"
                    class="absolute top-0 end-0 z-10 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                    data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
        </span>
            </button>
        </div>

</section>

<section class="flex flex-col pb-10 pt-10 justify-center gap-6">
    <h1 class="text-2xl font-normal text-white">Últimas atualizações</h1>
    <div class="relative flex gap-3 justify-center flex-wrap">
        {% for ep in atualizacao %}
         <a href="{% url 'episodio' anime_slug=ep.anime.slug episodio_slug=ep.slug%}" class="relative flex flex-col w-48 gap-1 items-center justify-items-center flex-wrap">
            {% if ep.anime.imagem_capa %}
            <img src="{{ ep.anime.imagem_capa }}" alt="{{ ep.anime.nome }}" class="rounded w-full h-64 object-cover">
            {% else %}
            <div class="w-full h-64 bg-red-500 rounded"></div>
            {% endif %}
            <span class="text-sm font-medium text-slate-400">{{ ep.titulo }}</span>
            <span class="font-normal text-lg text-center text-white break-words">{{ ep.anime }}</span>
        </a>
        {%empty%}
        <p>Sem animes</p>
        {% endfor %}
    </div>
    <a href="{% url 'novos_episodios' %}"
       class="text-white w-fit self-center bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Ver
        mais</a>
</section>

{% include 'animes/animesRecentes.html' %}

{% endblock %}